(serve_docs) {
	encode gzip
	root * /srv/docs
	file_server {
		pass_thru
	}
}

(serve_prod_spas) {
	encode gzip
	root * /srv/spas
	file_server {
		pass_thru
	}
	@no_extension {
		not path_regexp \.
	}
	handle /auth/* {
		try_files /auth/index.html
	}
	handle /app/* {
		try_files /app/index.html
	}
	handle /admin/* {
		try_files /admin/index.html
	}
	handle @no_extension {
		try_files /index.html
	}
}

(reverse_proxy_common) {
	header_up X-Request-ID {http.request.uuid}
}

{$PROTOCOL}://{$DOMAIN}, {$PROTOCOL}://api.{$DOMAIN}, {$PROTOCOL}://api.specs.{$DOMAIN}, {$PROTOCOL}://docs.{$DOMAIN} {
	# Add unique request ID header to all requests
	header {
		+X-Request-ID {http.request.uuid}
	}

	# Minimal logging configuration - only errors and warnings
	log {
		level ERROR
		format console
	}

	# Route matchers
	@auth {
		host api.{$DOMAIN}
		path /auth*
	}
	@users {
		host api.{$DOMAIN}
		path /users*
	}
	@api {
		host api.{$DOMAIN}
		not path /auth* /users*
	}
	@docs {
		host docs.{$DOMAIN}
	}
	@specs {
		host api.specs.{$DOMAIN}
	}

	handle @auth {
		reverse_proxy auth:3000 {
			import reverse_proxy_common
		}
	}

	handle @users {
		forward_auth auth:3000 {
			uri /auth/verify
			header_up X-Request-ID {http.request.uuid}
			copy_headers X-User-ID X-User-Email X-User-Scopes
			header_up X-Csrf-Token {http.request.header.X-CSRF-Token}
		}
		reverse_proxy auth:3000 {
			import reverse_proxy_common
		}
	}

	handle @api {
		forward_auth auth:3000 {
			uri /auth/verify
			header_up X-Request-ID {http.request.uuid}
			copy_headers X-User-ID X-User-Email X-User-Scopes
			header_up X-Csrf-Token {http.request.header.X-CSRF-Token}
		}
		reverse_proxy api:3000 {
			import reverse_proxy_common
		}
	}

	handle @specs {
		reverse_proxy specs-apis:3000 {
			import reverse_proxy_common
		}
	}

	handle @docs {
		{$DISABLE_VITE_DEV_SERVER} reverse_proxy docs:5173 

		{$DISABLE_CADDY_PROD_SERVER} import serve_docs
	}

	handle {
		# For development, defer to the Vite dev server
		{$DISABLE_VITE_DEV_SERVER} reverse_proxy clients:5173

		# For production, serve the static files
		{$DISABLE_CADDY_PROD_SERVER} import serve_prod_spas
	}
}
