import common.Caddyfile 

{$PROTOCOL}://docs.{$DOMAIN} {
	import static-site /docs/saf
}

{$PROTOCOL}://workflows.{$DOMAIN} {
	import static-site /docs/workflows
}

{$PROTOCOL}://{$DOMAIN} {
	redir {$PROTOCOL}://docs.{$DOMAIN}
}
